:root {
	--color-red: #f72210;
	--roboto: "Roboto Condensed", sans-serif;
	--lightGray: #d9d9d9;
	--lightBlueGray: #f4f5f6;
}

body {
	height: 2000px;
	background-color: var(--lightBlueGray);
}

a:hover {
	color: var(--color-red);
}

.wrapper {
	margin: 0 auto;
	background-color: white;
	max-width: 1310px;
	height: 100%;
}

nav {
	width: 100%;
	border-bottom: 2px solid var(--lightBlueGray);
}

button {
	background-color: transparent;
	border: none;
	outline: none;
}

.roboto {
	font-family: var(--roboto);
	font-weight: 700;
}

.not-bold {
	font-weight: 400;
}

.black {
	color: black;
}

.bg-red {
	background-color: var(--color-red);
}

.red {
	color: var(--color-red);
}

.row {
	margin: 0;
}

.header-top {
	padding: 15px;
	height: 50px;
}

.date {
	display: none;
}

.title,
.nav-item {
	text-transform: capitalize;
}

.white {
	color: white;
}

.nav-link {
	flex-grow: 1;
	color: black;
	font-size: 1.2rem;
	font-family: var(--roboto);
	font-weight: 700;
}

.brand {
	width: 131px;
	height: 20px;
	position: relative;
	flex-shrink: 0;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.right-buttons-nav {
	padding: 0;
}

.arrow-right {
	width: 14px;
	height: 14px;
	align-self: center;
	margin-left: 10px;
}

.nav-item {
	display: flex;
	height: 35px;
	align-items: center;
}

.divisor {
	position: relative;
	display: inline-flex;
	height: 26px;
	width: 1px;
	background-color: var(--lightGray);
}

.subscribe {
	display: flex;
	background-color: #fff;
	height: 26px;
}

.subscribe:hover {
	color: var(--color-red);
}

.sign-in,
.subscribe {
	padding: 2px 8px;
}

.sign-in:hover {
	color: white;
}

.sign-in:hover,
.subscribe:hover {
	text-decoration: none;
}

.news-logo {
	height: 20px;
}

.disable-hover {
	pointer-events: none;
	cursor: pointer;
}

@media only screen and (min-width: 992px) {
	.brand {
		width: 395px;
		height: 60px;
	}

	.header-top::after {
		position: absolute;
		content: "";
		background-color: var(--color-red);
		width: 78px;
		display: block;
		bottom: -13px;
		right: 0px;
		border-top: 13px solid var(--color-red);
		border-left: 12px solid white;
	}

	.header-top {
		height: 95px;
		padding: 20px 10px 15px;
		justify-content: flex-start;
	}
}
