body {
	height: 2000px;
}

:root {
    --color-red: #f72210;
}

.title {
	font: bold 18px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: black;
}

.bg-red {
    background-color: var(--color-red);
}

.red {
    color: var(--color-red);
}

.right-buttons-nav {
    display: flex;
    align-items: center;
}

.arrow-right {
    width: 14px;
    height: 14px;
    align-self: center;
margin-left: 10px;
}

.hambutton {
    transform: scale(1.2,0.9);
    color: white;
    opacity: 0.6;
}

.fa-bars {
    font-size: 1.8rem;
}

.sign-in,
.subscribe {
    padding: 2px 8px;
}

.subscribe {
    display: flex;
    background-color: #fff;
    height: 100%;
    margin-right: 15px;

}

.sign-in {
    color: white;
    margin-right: 5px;
}

.news-logo {
    height: 20px;
}

